:root {
  --color-navy: #283d4d;
  --color-accent: #cc244e;
  --color-orange: #f4802d;
  --color-bg: #eaecf0;
  --color-gray: #d1d4da;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app-shell {
  background: #000000; 
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.app-container {
  width: 850px;
  border-left: 3px solid var(--color-orange);
  border-right: 3px solid var(--color-orange);
  background: var(--color-bg);
}

.header {
  background: var(--color-navy);
  padding: 10px 30px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.title {
  color: var(--color-accent);
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 2px;
}

.header-icon {
  height: 2.5rem;
  width: auto;
  vertical-align: middle;
  margin-right: 0px;
}

.layout {
  display: flex;
  gap: 30px;
  padding: 20px 30px;
  background: var(--color-bg);
  min-height: calc(100vh - 80px);
  align-items: flex-start;
}

.location-panel {
  display: flex;
  flex-direction: column;
  padding-top: 4px;
  gap: 6px;
  width: 200px;
}

.panel-label {
  font-weight: bold;
  font-size: 0.85rem;
  letter-spacing: 1px;
  color: var(--color-navy);
}

.required {
  color: var(--color-accent);
}

.secondhalfoftitle{
  color: var(--color-orange);
}

.standby{
  color: var(--color-gray);
  font-weight: bold;
  font-size: 0.85rem;
  letter-spacing: 1px;
}

.map-wrapper {
  border: 3px solid var(--color-orange);
}

.latlon-display {
  display: flex;
  gap: 10px;
}

.latlon-display input {
  width: 60px;
  border: 2px solid var(--color-navy);
  padding: 6px 8px;
  font-size: 0.8rem;
  height:20px;
}

.latlon-display label {
  font-weight: bold;
  font-size: 0.85rem;
  letter-spacing: 1px;
  color: var(--color-navy);
}

.form-panel {
  padding-top: 4px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100px;
}

.form-panel label {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-weight: bold;
  font-size: 0.85rem;
  letter-spacing: 1px;
}

.form-panel input[type="text"],
.form-panel input[type="datetime-local"] {
  border: 2px solid var(--color-navy);
  padding: 6px 8px;
  font-size: 0.8rem;
  height:20px;
  width: 100%;
}

.unseen-label {
  display: flex;
  flex-direction: row !important;
  align-items: left;
  gap: 0px;
}

.submit-button {
  background: var(--color-accent);
  color: var(--color-bg);
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 2.6px;
  border: none;
  align-items: center;
  border-radius: 6px;
  padding: 3px 10.3px;
  cursor: pointer;
  margin-top: 0px;
  height:30px;
  width: 100%;
}

.submit-button:hover {
  background: #b62249;
  color: var(--color-gray);
}

.results-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: calc(100vh - 120px);
  
}

.results-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.results-panel {
  flex: 1;
  border: 3px solid var(--color-orange);
  background: var(--color-bg);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height:0;
}


.results-title {
  font-weight: bold;
  color: var(--color-navy);
  font-size: 0.85rem;
  letter-spacing: 1px;
  
}

.results-title span {
  color: var(--color-accent);
}

.results-message {
  padding: 20px;
  color: var(--color-gray);
  font-style: italic;
}

.results-error {
  color: var(--color-accent);
  font-style: normal;
}

.order-input {
  width: 140px;

  border: 2px solid var(--color-navy);
  padding: 6px 8px;
  font-size: 0.8rem;
  height:20px;
}

.results-list {
  list-style: none;
  overflow-y: scroll;
  flex: 1; 
  margin: 0;
  padding: 0;
  min-height: 0;

}

.results-list li:nth-child(even) {
  background: var(--color-gray);
}

.results-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 8px 6px;
}

.species-info {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.common-name {
  font-weight: bold;
  font-size: 0.95rem;
  color: var(--color-navy);
}

.scientific-name {
  font-style: italic;
  font-size: 0.8rem;
  color: var(--color-orange);
}

.probability {
  color: var(--color-accent);
  font-weight: bold;
  font-size: 0.95rem;
  white-space: nowrap;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::placeholder {
  color: var(--color-gray);
}

input {
  background: var(--color-gray);
  color: var(--color-navy);
}